.app.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #e0e0e9;
    --primary-color: #049604;
    --secondary-color: #05f505;
    --inverted-primary-color: #043296;
    --inverted-secondary-color: #0545f5;
}
